In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
! java -version

In [ ]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.0.1-bin-hadoop2.7.tgz

In [ ]:
!wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.tgz

In [ ]:
!tar -xvzf spark-3.3.1-bin-hadoop2.tgz

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop2"

In [ ]:
!pip install -q findspark

In [ ]:
!pip install pyspark

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

In [ ]:
from pyspark.sql import SparkSession
connectionString=   ('mongodb+srv://saurabhpaliwal:emohGbcHXiceW25X@kafkademo.wtr499c.mongodb.net/?retryWrites=true&w=majority')
spark = SparkSession\
.builder\
.master('local')\
    .config('spark.mongodb.input.uri',connectionString)\
    .config('spark.mongodb.output.uri', connectionString)\
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.3.1')\
.getOrCreate()

In [ ]:
# Reading from MongoDB
df_pro1 = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", connectionString).option("inferSchema",True).option("database", "test").option("collection", "time_province").load()
df_case1 = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", connectionString).option("inferSchema",True).option("database", "test").option("collection", "cases").load()
df_region1 = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", connectionString).option("inferSchema",True).option("database", "test").option("collection", "region").load()

In [ ]:
df_pro2 = df_pro1.withColumn("_id",col("_id").cast(StringType()))  #changing data type
df_case2 = df_case1.withColumn("_id",col("_id").cast(StringType())) 
df_region2 = df_region1.withColumn("_id",col("_id").cast(StringType()))

In [ ]:

df_pro2.select("_id").show(truncate=False)

In [ ]:
df_pro3=df_pro2.withColumn("_id", expr("substring(_id, 2,length(_id)-2)")) # stripping {} froms the id column 
df_case3=df_case2.withColumn("_id", expr("substring(_id, 2,length(_id)-2)"))
df_region3=df_region2.withColumn("_id", expr("substring(_id, 2,length(_id)-2)"))

In [ ]:
df_pro3.select('_id').show(truncate=False)

In [ ]:
df_pro3.dtypes

# a. Read the data, show it and Count the number of records.

In [ ]:
df_case3.show(truncate=False)
print("the reords count is ", df_case.count())

In [ ]:
df_region3.show(truncate=False)
print("the reords count is ", df_region.count())

In [ ]:
df_pro3.show(truncate=False)
print("the reords count is ", df_pro.count())


# b. Describe the data with a describe function.

In [ ]:
df_case3.describe().show()

In [ ]:
df_pro3.describe().show()

In [ ]:
df_region3.describe().show()

# c. If there is any duplicate value drop it.

In [ ]:
region_no_dups=df_region3.dropDuplicates()
povince_no_dups=df_pro3.dropDuplicates()
case_no_dups=df_case3.dropDuplicates()

# d. Use limit function for showcasing a limited number of records.

In [ ]:
region_no_dups.limit(3).show()

# e. If you find the column name is not suitable, change the column name.[optional]

In [ ]:
region_column_changed= region_no_dups.withColumnRenamed('province','state')

In [ ]:
region_column_changed.show(6)

# f. Select the subset of the columns.

In [ ]:
region_column_changed.select('code','state','city', 'latitude','longitude').show(5)

# g. If there is any null value, fill it with any random value or drop it

In [ ]:
region_column_changed.dtypes

In [ ]:
region_column_changed.select([count(when(isnan(c), c)).alias(c) for c in region_column_changed.columns]).show() #no null values

In [ ]:
case_no_dups.select([count(when(isnan(c), c)).alias(c) for c in df_case.columns]).show()

In [ ]:
case_no_dups.createOrReplaceTempView("cast") #creating sql view
df=spark.sql("select string(group) as Group_type_converted,* from  cast") #changing column type 
df.dtypes

In [ ]:
case_dropped=df.drop('group') #dropping pervious group column 
case_dropped.show(5)

In [ ]:
case_dropped.select([count(when(isnan(c), c)).alias(c) for c in case_dropped.columns]).show() #checking for counts for null vlaues

In [ ]:
povince_no_dups.select([count(when(isnan(c), c)).alias(c) for c in povince_no_dups.columns]).show()  #checking for counts for null vlaues

# h. Filter the data based on different columns or variables and perform the best analysis.

A) Which infection_case has highest confirmed cases among all the cases

In [ ]:
case_no_dups.createOrReplaceTempView("case_no_dups") #creating sql view
df=spark.sql("select sum(confirmed) as highest_cases,infection_case from  case_no_dups group by infection_case order by highest_cases desc limit 1") 
df.show()

B) Which province has highest deceased cases among all the province

In [ ]:

povince_no_dups.createOrReplaceTempView("province_no_dups") #creating sql view
df1=spark.sql("select sum(deceased) as highest_deceased,province from  province_no_dups group by province order by highest_deceased desc limit 1") 
df1.show()

# i. Sort the number of confirmed cases. Confirmed column is there in the dataset. Check with descending sort also.

In [ ]:
case_no_dups.sort('confirmed').show()

In [ ]:
case_no_dups.orderBy(col('confirmed').desc()).show()

# j. In case of any wrong data type, cast that data type from 
# integer to string or string to integer.

In [ ]:
#solved at second cell right after reading data fro  mango db

# k. Use group by on top of province and city column and agg it
# with sum of confirmed cases.

In [ ]:
case_no_dups.groupBy("province","city").agg(sum('confirmed').alias('total_cases')).sort(desc("total_cases")).show()

# l. For joins we will need one more file.you can use region file.
# User different different join methods.

In [ ]:
case_no_dups.show(3)

In [ ]:
province_no_dups.show(3)

In [ ]:
region_column_changed.show(8)

1. what is total_count of university and confirmed per each province

In [ ]:
df_join =region_column_changed.join(case_no_dups, region_column_changed.state == case_no_dups.province,'inner')
df_join.groupBy("state").agg(sum('university_count').alias('total_university_count'),sum('confirmed').alias('total_confirmed')).show()

2.what is total_count of nursing_home_count and confirmed per each province and city

In [ ]:
df_join1 =region_column_changed.join(case_no_dups, (region_column_changed.state == case_no_dups.province) & \
(region_column_changed.city == case_no_dups.city),'left').select(region_column_changed.state,case_no_dups.city,case_no_dups.confirmed,region_column_changed.nursing_home_count)

df_join1.groupBy('state','city').agg(sum('confirmed').alias('total_confirmed'),sum('nursing_home_count').alias('total_nursing_home_count')).show()

# 5. If you want, you can also use SQL with data frames. Let us try to
# run some SQL on the cases table.

In [ ]:
region_column_changed.createOrReplaceTempView("region") #creating sql view
case_no_dups.createOrReplaceTempView("cases")

df1=spark.sql("select c.province,c.city ,sum(c.confirmed) as total_confirmed, sum(r.elementary_school_count) as total_elementary_school_count  \
from cases c right join region r on c.province = r.state and c.city = r.city \
group by c.province,c.city order by  total_elementary_school_count") 
df1.show(6)

# 6. Create Spark UDFs Create function casehighlow(). If case is less than 50 return low else return high.convert into a UDF Function and mention the return type of function.

In [ ]:
casehighlow = udf(lambda x :  "High" if x > 50  else "Low",StringType())
df2.withColumn("new_column", casehighlow(col('total_confirmed'))).show(10)